/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

@media (min-width:1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

/************ Nav ************/
nav {
  height: 50px;
  text-align: center;
  font-family: 'Carter One', cursive;
}

.navLogo {
  font-size: 28px;
  color: #F44D34;
  line-height: 50px;
}

@media screen and (max-width: 480px) {
  .invisM {
    display: none;
  }
}

/************ Main ************/
.main {
  padding-left: 15%;
  padding-right: 15%;
}

@media screen and (max-width: 770px) {
  .main {
    padding-left: 0;
    padding-right: 0;
  }
}

/************ Banner ************/
.banner {
  height: 75vh;
  background-image: url("assets/bannerBG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bannerImg {
  padding-top: 50px;
  height: 400px;
  width: auto;
  animation: console 3s linear infinite
}

@keyframes console {
  0% {
      transform: translateY(-20px);
    }
  
  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(-20px);
  }
}

.bannerText {
  padding-top: 25vh;
}

.brandName {
  font-size: 50px;
  font-weight: 700;
  font-family: 'Carter One', cursive;
  color: #F44D34;
}

.brandMotto {
  color: #24EBF8;
}